<!-- about.html -->
{% extends 'base.html' %}

{% block title %}About Us - Your Online Shop{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>Welcome to Online Shop! We are committed to providing the best shopping experience for our customers.</p>
    
    <h2>Our Mission</h2>
    <p>Make your life more convenient</p>
    
    <h2>Our Team</h2>
    <p>Aram, Alex, Artyom, Yeghishe</p>
    
    <h2>Contact Information</h2>
    <p>
        Address: Yerevan<br>
        Phone: (000)000000<br>
        Email: info@shop.com<br>
    </p>
{% endblock %}
